.center-max {
  width: 100%;
  height: 100%;
  background-color: white;
}
.center-max .center-head-max {
  width: 100%;
  height: 85px;
  background-color: #F0F0F0;
  padding-top: 20px;
}
.center-max .center-head-max .center-head-center {
  width: 1000px;
  height: 68px;
  margin: auto;
}
.center-max .center-head-max .img-float1 {
  float: left;
  font-size: 18px;
  border-left: 7px solid #F65742;
  height: 68px;
  line-height: 33px;
  padding-left: 10px;
  margin-left: 20px;
}
.center-max .center-head-max .img-float2 {
  float: left;
  margin-left: 100px;
  padding-top: 5px;
  cursor: pointer;
  text-align: center;
}
.center-max .center-head-max .img-float2:hover {
  border-bottom: 3px solid #F65742;
}
.center-max .center-head-max .img-float3 {
  float: left;
  margin-left: 127px;
  padding-top: 5px;
  cursor: pointer;
  text-align: center;
}
.center-max .center-head-max .img-float3:hover {
  border-bottom: 3px solid #F65742;
}
.center-max .center-head-max .img-float4 {
  float: left;
  margin-left: 127px;
  padding-top: 5px;
  cursor: pointer;
  text-align: center;
}
.center-max .center-head-max .img-float4:hover {
  border-bottom: 3px solid #F65742;
}
.center-max .center-head-max .img-float5 {
  float: left;
  margin-left: 127px;
  padding-top: 5px;
  cursor: pointer;
  text-align: center;
}
.center-max .center-head-max .img-float5:hover {
  border-bottom: 3px solid #F65742;
}
.center-max .center-head-max .img-float6 {
  float: left;
  margin-left: 127px;
  padding-top: 5px;
  cursor: pointer;
  text-align: center;
}
.center-max .center-head-max .img-float6:hover {
  border-bottom: 3px solid #F65742;
}
